body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 44, 15);
}
button{
  border-radius: 16px;
  background-color: white;
  border: 1px solid black;
  transition-duration: 0.4s;
  padding: 5px 10px;
}
button:hover{
  background-color: rgb(15, 44, 15); /* Green */
  color: white;
}
option{
  background-color: rgb(15, 44, 15);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
span a{
  color:black;
}
.logo{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}
.nav-area{
    list-style: none;
    padding-right: 10px;  
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
  border: none;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Verdana, Arial, sans-serif;
  transition-duration: 0.4s;
}
.nav-area li a:hover{
  background-color: white; 
  color: green;
}
/* table,
th,
td,
tr {
    border: 1px solid black;
} */

table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

td {
    text-align: center;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: white;
	color:rgb(131, 131, 131);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:20px;
    font-weight: bold;
    font-size: 14pt;
}

td > h3, td > h2, td > p {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
  }

.container {
    background-color: white;
    margin: auto;
    padding: 5%;
    text-align: center;
    width: 750px;
    height: auto;
    border-radius: 20px;
}

#error-message, 
#confirm-error, 
#no-cart-error {
    color: red;
}

#item-list {
    text-align: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Open Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#cart-item {
    height: 100%;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

#delete-item {
    font-size: 10pt;
    color: red;
}